
<div class="row" *ngIf="animal$ | async as animal">
    <div class="col m12">
        <h3>{{animal[0].name}}</h3>
        <ea-animal-form [animal]="animal[0]"></ea-animal-form>
    </div>
</div>
