<div>
    <div>
        <a class="waves-effect waves-light btn btn-small" (click)="save()">
            <i class="far fa-save"></i> Save
        </a>
        <hr />
    </div>
    <form [formGroup]="animalForm">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" formControlName="name" type="text" class="validate">
                <label for="first_name">Animal url name</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <select #selectAnimalCategory formControlName="group">
                    <option value=""> --- </option>
                    <option *ngFor="let animalGroup of animalGroups" [value]="animalGroup">{{animalGroup}}</option>
                </select>
                <label>Materialize Select</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6" formArrayName="imagesPaths">
                <label for="">Image urls</label>
                <p *ngFor="let imagePath of imageList.controls; let i = index" style="position: relative;">
                    <input type="text" [formControlName]="i" style="width: calc(100% - 70px);" />
                    <button class="btn-floating btn-small waves-effect waves-light red" *ngIf="i > 0"
                        style="float: right;" (click)="removeImagePath(i)">-</button>
                    <button class="btn-floating btn-small waves-effect waves-light orange"
                        *ngIf="imageList.controls[i].value === ''" style="float: right; margin-right: 4px"
                        (click)="addDefaultPath(i)">/</button>
                </p>
                <button class="btn-floating btn-small waves-effect waves-light green"
                    (click)="addImagePath()">+</button>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" formControlName="videoPath" type="text" class="validate">
                <label for="">Video Url</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" formControlName="animalSound" type="text" class="validate">
                <label for="">Animal Sound Url</label>
            </div>
        </div>

        <!-- TABS -->
        <div class="row">
            <div class="col s12">
                <ul class="tabs" #tabs>
                    <li class="tab col s3"><a class="active" href="#srb-cir">Srb[cir]</a></li>
                    <li class="tab col s3"><a href="#srb-lat">Srb[lat]</a></li>
                    <li class="tab col s3"><a href="#en">En</a></li>
                </ul>
            </div>
            <div class="col s12" id="srb-cir">Test 1</div>
            <div class="col s12" id="srb-lat">Test 2</div>
            <div class="col s12" id="en">Test 3</div>
        </div>
    </form>
</div>