<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>About Website</h2>

                <div>
                    <p>
                        Welcome to site where you will have fun while exploring and learning about interesting world of
                        animals. You can browse trough our animal list or you can test your knowledge and skils with
                        some
                        of our games.
                    </p>
                </div>

                <div>
                    <p>
                        This site is totaly free so go explore and have some fun.
                    </p>
                </div>

                <!-- <div class="text-center center">
                    <p>Install in on device</p>
                    <button (click)="addToHomeScreen()" type="button" class="btn">Install</button>
                </div> -->
            </div>
        </div>
    </div>
</section>