<div class="fluid-container">
    <div class="row">
        <div class="col m2" style="padding-left: 0!important;padding-right: 0!important;">
            <ul class="collection">
                <li class="collection-item" style="padding: 0;">
                    <label style="display: block; line-height: 45px; padding: 0;">
                        <input name="animalGroup" [value]="null" type="radio" 
                            [(ngModel)]="selectedGroup" (ngModelChange)="choose($event)" />
                        <span>All</span>
                    </label>
                </li>
                <li class="collection-item" style="padding: 0;" *ngFor="let group of animalGroups">
                    <label style="display: block; line-height: 45px; padding: 0;">
                        <input name="animalGroup" type="radio" [value]="group" 
                            [(ngModel)]="selectedGroup" (ngModelChange)="choose($event)" />
                        <span>{{group}}</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="col m2" style="padding-left: 0!important;">
            <div *ngIf="animals$ | async as animals" class="collection" style=" line-height: 45px;">
                <a class="collection-item" [routerLink]="['/admin', 'new']" routerLinkActive="active" >**New**</a>
                <a *ngFor="let animal of animals" class="collection-item" [routerLink]="['/admin', animal.name]"
                    routerLinkActive="active">
                    {{animal.name}}
                </a>
            </div>
        </div>
        <div class="col m8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>