.col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-box {
  width: 200px;
  height: 260px;
  perspective: 600px;
  position: relative;
}

.swap-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.swap-card.is-flipped {
  transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #eee;

  /* border-radius */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;

  /* box-shadow */
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  -ms-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;

  /* shadow */
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 3px solid #888;
}

.card__face--front {
  font-size: 40px;
  background: rgb(216, 218, 219);
  background: radial-gradient(circle, rgba(216, 218, 219, 1) 0%, rgba(167, 167, 168, 1) 59%, rgba(84, 84, 85, 1) 100%);
}

.card__face--back {
  background: #eee;
  transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
