<div class="container">
    <h5 class="card-panel red darken-4 white-text" translate>WORK_IN_PROGRESS</h5>

    <h2 class="center">{{ 'HOMEPAGE' | translate }}</h2>

    <!-- @todo clean up the css -->
    <div class="row">
        <div class="col s12 m6" *ngFor="let group of animalGroups$ | async">
            <div class="card blue-grey darken-1 z-depth-3" style="border-radius: 30px; border: 1px solid #888">
                <div class="card-content white-text" [ngStyle]="getStyle(group)" style="border-radius: 30px;">
                    <a (click)="redirectToPage(group)" 
                        style="display: block; height: 100%; width: 100%;">
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>