.example-box {
  width: 33.333%;
  height: 33.333%;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.puzzle {
  position: relative;
  border: dotted #ccc 2px;
}

.picture-element {
  width: 100%;
  height: 100%;
  text-align: center;
  float: left;
  border: 1px dotted red;
  color: white;
  background-repeat: no-repeat;
}

/*
  puzzle 2x2
*/
.data-piece-2-1 {
  background-position: 0 0;
}
.data-piece-2-2 {
  background-position: 100% 0;
}
.data-piece-2-3 {
  background-position: 0 100%;
}
.data-piece-2-4 {
  background-position: 100% 100%;
}

/*
  puzzle 3x3
*/
.data-piece-3-1 {
  background-position: 0 0;
}
.data-piece-3-2 {
  background-position: 50% 0;
}
.data-piece-3-3 {
  background-position: 100% 0;
}
.data-piece-3-4 {
  background-position: 0 50%;
}
.data-piece-3-5 {
  background-position: 50% 50%;
}
.data-piece-3-6 {
  background-position: 100% 50%;
}
.data-piece-3-7 {
  background-position: 0 100%;
}
.data-piece-3-8 {
  background-position: 50% 100%;
}
.data-piece-3-9 {
  background-position: 100% 100%;
}

/*
  4x4
*/
.data-piece-4-1 {
  background-position: 0 0;
}
.data-piece-4-2 {
  background-position: 33.33% 0;
}
.data-piece-4-3 {
  background-position: 66.66% 0;
}
.data-piece-4-4 {
  background-position: 100% 0;
}
.data-piece-4-5 {
  background-position: 0 33.33%;
}
.data-piece-4-6 {
  background-position: 33.33% 33.33%;
}
.data-piece-4-7 {
  background-position: 66.66% 33.33%;
}
.data-piece-4-8 {
  background-position: 100% 33.33%;
}
.data-piece-4-9 {
  background-position: 0 66.66%;
}
.data-piece-4-10 {
  background-position: 33.33% 66.66%;
}
.data-piece-4-11 {
  background-position: 66.66% 66.66%;
}
.data-piece-4-12 {
  background-position: 100% 66.66%;
}
.data-piece-4-13 {
  background-position: 0 100%;
}
.data-piece-4-14 {
  background-position: 33.33% 100%;
}
.data-piece-4-15 {
  background-position: 66.66% 100%;
}
.data-piece-4-16 {
  background-position: 100% 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.picture-element:not(:first-child) {
  opacity: 0.7;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  min-height: 0px;
}

.selected-image {
  box-shadow: 0 8px 17px 2px rgb(50 209 209 / 34%), 
              0 3px 14px 2px rgb(50 209 209 / 42%), 
              0 5px 5px -3px rgb(50 209 209 / 60%);
  border: 5px solid rgb(50 209 209);
}