.confetti-anchor {
  top: calc(50% - 50px);
  left: calc(50% - 100px);
  position: fixed;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.confetti-modal {
  width: 200px;
  padding: 0 25px 10px;
}
