<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Contact</h2>

        <div>
          <p>
            Hi there,
            I would like to here your opinions, critics and maybe some improvment ideas about this website.<br />
            You can contact me on <a href="mailto:janko.stevanovic@gmail.com">janko.stevanovic@gmail.com</a>
          </p>
        </div>

        <!-- <div class="text-center center">
                  <p>Install in on device</p>
                  <button (click)="addToHomeScreen()" type="button" class="btn">Install</button>
              </div> -->
      </div>
    </div>
  </div>
</section>